.friendlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: black;
    text-decoration: none;
    padding: 1px;
}

.friendlist img {
    grid-area: a;
    grid-template-columns: 75px 10fr;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid rgb(202, 224, 248);
}

.dialogItem .users {
    grid-area: b;
    padding: 10px;
}

.friendlist a {
    color: black;
    text-decoration: none;
}

.friendlist a.active {
    color: darkblue;
    text-decoration: none;
}