.sidebar {
    grid-area: s;
    display: grid;
    grid-template-rows: 120px 1fr;
    background-color: cadetblue;
    padding: 10px;
}

.item a {
    color: black;
    text-decoration: none;
    //font: 'Verdana';
}

.item a.active {
    color: darkblue;
//font: 'Verdana';
}