.dialogs {
    grid-area: c;
    background-color: dimgrey;
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogs img {
    width: 350px;
}

.dialogs users {
}

.dialogs messages {
}

.dialogs a {
    color: black;
    text-decoration: none;
}

.dialogs a.active {
    color: darkblue;
    text-decoration: none;
}